# Terraform
**/.terraform/*
.terraform*
!.terraformrc
!.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup

# Секреты и tfvars
terraform.tfvars
*.auto.tfvars
*.tfvars
!*.tfvars.example

# Артефакты
tfplan
tflint.txt
checkov.txt
backend.hcl
